<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта выгорания лицензий</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Карта выгорания лицензий</h1>
    <table id="burnout-map-table">
        <thead>
            <tr>
                <th>Наименование лицензии</th>
                <th>Размещение</th>
                <th>Количество</th>
                <th>Номер ГК</th>
                <th>2020</th>
                <th>2021</th>
                <th>2022</th>
                <th>2023</th>
                <th>2024</th>
                <th>2025</th>
                <th>2026</th>
            </tr>
        </thead>
        <tbody>
            <!-- Данные будут загружены через JS -->
        </tbody>
    </table>
    <script src="/static/burnout_map.js"></script>
</body>

</html>